header {
background-color:lightpink;
color:coral;
padding: 20px;
text-align: center;
}

section {
background-color: lightpink;
margin: 0 1.5cm;
font-size: 16px;
color: coral;
}

footer {
background-color: lightpink;
color: black;
padding: 10px;
text-align: center;
margin: 0 1.5cm;
font-size: 14px;
}
